<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">example</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5434/postgres</property>
        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>
        <mapping class="project.grp3.entities.TruckType"/>
        <mapping class="project.grp3.entities.Sensor"/>
        <mapping class="project.grp3.entities.ExhaustLevel"/>
        <mapping class="project.grp3.entities.Barrack"/>
        <mapping class="project.grp3.entities.Sdis"/>
        <mapping class="project.grp3.entities.Ressource"/>
        <mapping class="project.grp3.entities.FireTruck"/>
        <mapping class="project.grp3.entities.Fireman"/>
        <mapping class="project.grp3.entities.FireType"/>
        <mapping class="project.grp3.entities.Fire"/>
    </session-factory>
</hibernate-configuration>